$headerHeight: 40px;

.header-nav {
  width: 100%;
  padding: 0 5px 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  font-size: 16px;
  height: $headerHeight;
  //word-spacing: 5px;
  z-index: 1;
  box-sizing: border-box;
  @include transform(translateY(-100%));
  @include animation(dropDown 500ms forwards 2.4s);
  position: fixed;
  background-color: $primaryColor;
  z-index: 1;
}

@include keyframes(dropDown) {
  0% {
    @include transform(translateY(-100%));
  }

  100% {
    @include transform(translateY(0%));
  }
}

.nav--ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav--li {
  display: inline-block;
}

.nav--a {
  color: white;
  padding: 0 12px;
  box-sizing: border-box;
  height: $headerHeight;
  line-height: $headerHeight;
  display: block;
  outline: none;
  @include transition(background-color 100ms linear);
}

.home-link-container {
  text-align: left;
}

.home-link {
  float: left;
  font-size: 34px;

  &:hover {
    color: white;
    animation: scaleUp 400ms;
  }
}

@include keyframes(scaleUp) {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }
}

.nav--a:hover {
  background-color: $darkGrey;
  color: white;
  @include transition(background-color 100ms linear);
}

.media-list {
  float: right;
  margin: 0;
  padding: 0;
}

.fa {
  color: white;
  @include transition(color 100ms linear);
}

.media-link:hover {
  background-color: $primaryColor;

  .fa {
    color: $darkGrey;
    @include transition(color 100ms linear);
  }

}

.nav-toggle {
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 40px;
  line-height: 40px;
  right: 15px;
  font-size: 30px;

  &:hover {
    cursor: pointer;
  }
}
