.nav--name-section {
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  font-size: 16px;
  text-transform: uppercase;
  word-spacing: 5px;
  z-index: 1; }

@keyframes nav-animate {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
.nav-fixed {
  animation: nav-animate 350ms;
  position: fixed;
  background-color: #1A242E;
  z-index: 1;
  border-bottom: 1px solid #55ccff; }

.name-section {
  color: white;
  background: url("../images/shreveport.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: 0; }

.name {
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 32px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60%;
  position: absolute;
  border: 7px solid white;
  padding: 20px; }

.bg-overlay--name-section {
  background: #0265FF;
  opacity: 0.2;
  width: 100%;
  height: 100%; }

.about-section {
  background: white;
  position: relative;
  padding: 100px 10%; }
  .about-section p {
    color: black;
    margin: 20px auto;
    font-size: 18px;
    text-align: left; }
    .about-section p a,
    .about-section p a:visited,
    .about-section p a:focus,
    .about-section p a:active {
      color: #0265FF; }
    .about-section p a:hover {
      color: #55ccff; }
  .about-section strong {
    font-size: 24px; }

#about {
  position: absolute;
  top: 50px; }

.self-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 30px; }

.btn-container {
  font-size: 0;
  margin: 0 auto 30px auto; }

.media-btn {
  width: calc(25% - 16px);
  height: 32px;
  display: inline-block;
  white-space: nowrap;
  padding: 6px 5px 2px 5px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #0265FF;
  color: white; }

.media-btn:hover {
  background: white;
  color: #0265FF;
  box-shadow: 0 0 5px 4px #0265FF;
  text-decoration: none; }

.linkedin-btn,
.github-btn,
.freecodecamp-btn {
  margin-right: 8px; }

i {
  color: white; }

.media-btn:hover i {
  color: #0265FF; }

.work-section {
  background: #1A242E;
  overflow-x: hidden;
  padding: 100px 0 100px 0;
  position: relative; }
  .work-section a,
  .work-section a:visited,
  .work-section a:focus,
  .work-section a:active {
    color: #0265FF;
    text-decoration: none; }
  .work-section a:hover {
    color: #55ccff;
    text-decoration: none; }
  .work-section h2 {
    margin-bottom: 20px; }

#projects {
  position: absolute;
  top: 50px; }

.proj-container {
  margin: 0px auto;
  padding: 20px 60px;
  max-width: 100%;
  overflow: auto; }

.project-unit {
  display: block;
  width: 25%;
  float: left;
  position: relative;
  padding-top: 15%;
  text-decoration: none;
  overflow: hidden; }

.project-thumb-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.project-thumb {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center top;
  -webkit-transition: -webkit-transform 75ms;
  -moz-transition: -moz-transform 75ms;
  transition: transform 75ms; }

.project-unit:hover .project-thumb {
  -webkit-transform: scale(1.15) rotate(0.1deg);
  -moz-transform: scale(1.15) rotate(0.1deg);
  -ms-transform: scale(1.15) rotate(0.1deg);
  -o-transform: scale(1.15) rotate(0.1deg);
  transform: scale(1.15) rotate(0.1deg);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  -moz-transition: -moz-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out; }

.simon-img {
  background-image: url("../images/simon.jpg");
  background-position: center center; }

.tic-tac-toe-img {
  background-image: url("../images/tic-tac-toe.jpg"); }

.clock-img {
  background-image: url("../images/clock.jpg"); }

.twitch-img {
  background-image: url("../images/twitch.jpg"); }

.wikipedia-img {
  background-image: url("../images/wikipedia.jpg"); }

.calc-img {
  background-image: url("../images/calc.jpg");
  background-position: center 63%; }

.weather-img {
  background-image: url("../images/weather.jpg"); }

.tribute-img {
  background-image: url("../images/tribute.jpg"); }

.overlay {
  background: #0265FF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  -webkit-transition: opacity 75ms;
  -moz-transition: opacity 75ms;
  transition: opacity 75ms; }

.overlay strong {
  display: block;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.2;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative; }

.project-unit:hover .overlay {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.9;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  transition: opacity 250ms; }

.overlay:active,
.overlay:focus {
  text-decoration: none;
  padding: 0; }

.work-belt {
  width: 200%;
  position: relative;
  left: 0;
  transition: 150ms; }

.proj-wrap,
.embed-wrap {
  width: 50%;
  float: left; }

.embed-wrap {
  float: right; }

.embed-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
  position: relative; }

.embed-container h2 {
  text-align: center; }

.proj-title {
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 0 0 0 0;
  text-align: left;
  color: #0265FF;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px; }

.back-arrow {
  color: #0265FF;
  font-size: 30px;
  position: absolute;
  left: -30px;
  transform: translateY(-2px); }

.back-arrow:hover {
  color: #55ccff;
  cursor: pointer; }

.project {
  display: none; }

.embed-proj-full {
  margin: 0 auto 10px auto;
  text-align: left;
  color: white; }

.embed-proj-langs {
  margin: 10px auto;
  text-align: left;
  font-weight: bold;
  color: #0265FF;
  font-size: 18px; }

.contact-section {
  background: white;
  padding: 100px 0;
  text-align: center;
  overflow-y: hidden;
  position: relative; }
  .contact-section a,
  .contact-section a:visited,
  .contact-section a:focus,
  .contact-section a:active {
    color: #0265FF;
    text-decoration: none; }
  .contact-section a:hover {
    color: #55ccff;
    text-decoration: none; }

#contact {
  position: absolute;
  top: 50px; }

.contact-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 50%;
  margin: 0 auto; }

.contact-form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 16px;
  display: block;
  float: left;
  margin: 0 0 5px 0;
  width: 49%;
  box-sizing: border-box;
  border: 2px solid #0265FF;
  padding: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.contact-form-input:first-of-type {
  margin-right: 2%; }

.contact-form-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 16px;
  padding: 4px;
  display: inline-block;
  height: 200px;
  margin: 2% auto 5px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #0265FF;
  resize: none; }

.contact-form-p {
  font-size: 14px;
  color: black;
  float: left;
  text-align: left;
  margin: 0;
  max-width: 60%; }

.contact-form-input:focus, .contact-form-textarea:focus {
  box-shadow: 0 0 5px 1px #0265FF; }

.contact-form-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #0265FF;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: right;
  line-height: 100%;
  padding: 4px 8px; }

.contact-form-submit:hover {
  color: #0265FF;
  cursor: pointer;
  background: white;
  box-shadow: 0 0 5px 4px #0265FF; }

footer {
  background: #1A242E;
  padding: 100px 20px 20px 20px;
  text-align: left;
  position: relative; }

.footer-email {
  color: #0265FF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0; }

body, html {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  font-weight: bold;
  color: white; }

a:hover {
  color: #55ccff; }

h1, h2, h3, h6 {
  margin: 0;
  position: relative; }

h2 {
  color: #0265FF;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px; }

@media screen and (max-width: 950px) {
  .github-btn {
    margin: 0 0 8px 0; }

  .linkedin-btn {
    margin-bottom: 8px; }

  .media-btn {
    width: calc(50% - 14px); } }
@media screen and (max-width: 875px) {
  h1 {
    font-size: 1.4em; }

  h6 {
    font-size: .6em; }

  div.project-unit {
    width: 50%;
    padding-top: 26%; }

  .contact-form {
    width: 65%; } }
@media screen and (max-width: 750px) {
  h1 {
    font-size: 1.2em; }

  .name-section {
    background-attachment: local; }

  .name {
    border: 5px solid white; }

  .overlay strong {
    font-size: 20px; }

  .back-arrow {
    left: 0;
    text-align: left; }

  .embed-container h3 {
    margin-left: 30px; }

  .contact-form {
    width: 75%; } }
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1em; }

  h6 {
    font-size: 0.5em; }

  .self-img {
    height: 150px;
    width: 150px; }

  .media-btn {
    width: 100%;
    margin-right: 0; }

  .freecodecamp-btn {
    margin-bottom: 8px; }

  .overlay strong {
    padding: 0px 5px; }

  .embed-container {
    width: 90%; }

  div.project-unit {
    width: 100%;
    padding-top: 50%;
    margin: 0 auto 5px auto; }

  .contact-form {
    width: 80%; }

  .contact-form-input {
    width: 100%; }

  .contact-form-textarea {
    margin-top: 0; } }
@media screen and (max-width: 400px) {
  h1 {
    font-size: 0.8em; }

  h6 {
    font-size: 0.4em; }

  .nav--name-section {
    font-size: 14px;
    word-spacing: 2px; }

  .proj-container {
    padding: 20px 40px; }

  body footer h2 {
    font-size: 20px; } }

/*# sourceMappingURL=styles.css.map */
