.section-name {
  height: 100%;
  width: 100%;
  color: #242424;
  background-color: #eee;
  background: url("../assets/images/computer.jpeg"); // Image by Luke from Pexels
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-name-padded {
  width: 100%;
  height: 100%;
  background-color: rgba(238,238,238,0.8);

  @media (max-width: 680px){
    display: table;
  }
}
.name-content {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  color: #242424;

  @media (max-width: 680px){
    display: table-cell;
    vertical-align: middle;
  }
}

$nameSpaceBetween: 40px;
.name-half {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  position: relative;
  width: 50%;
  padding: 0 0 0 $nameSpaceBetween;

  @media (max-width: 1000px){
    padding: 0 0 0 ($nameSpaceBetween - 20px);
    padding: 0;
  }

  @media (max-width: 680px){
    display: block;
    margin: 0 auto;
    text-align: center;
    width: auto;
  }
}
.name-half:first-of-type{
  text-align: right;
  padding: 0 $nameSpaceBetween 0 0;

  @media (max-width: 1000px){
    padding: 0 ($nameSpaceBetween - 20px) 0 0;
    padding: 0;
    text-align: center;
  }
}
.self-img {
  width: 230px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
  margin: 10px 0;

  @media (max-width: 680px){
    width: 200px;
  }
}
.btn {
  background-color: $secondaryColor;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
  padding: 14px 28px;
  border-radius: 4px;
  cursor: pointer;
  color: #242424;
  display: inline-block;
  font-weight: bold;
  -moz-user-select: none;
  margin-top: 10px;
  transition: background-color 250ms, color 250ms;
}
.btn:hover {
  background-color: $primaryColor;
  color: #eee;
}
