@import "bourbon/bourbon";

$primaryColor: #0265FF;
$secondaryColor: #55ccff;

body, html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    background: $primaryColor;
}

.name-container {
    //background: url('images/shreveport.png');
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 0;
    z-index: 1;
}

// Background with opacity
.bg-img--name-container {
    background: url('images/shreveport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.nav--name-section {
    padding: 10px 0 0 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 15px;
    text-transform: uppercase;
    word-spacing: 5px;
    z-index: 1;
    @include transform(translateX(-50%));
}

.white-text {
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

i {
    color: white;
    //@include transition-duration(500ms);
}

about-p {
    color: black;
    width: 50%;
    margin: 5px auto;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name {
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 32px;
    @include transform(translateY(-50%));
    width: 60%;
    position: absolute;
    border: 7px solid white;
    padding: 20px;
}

.about-container {
    background: white;
    position: relative;
    padding: 100px 0 100px 0;
}

#monkey-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    top: 20px;
}

h1, h2, h3, h6 {
    margin: 0;
    padding: 0 0 10px 0;
    position: relative;
}

h2 {
    color: $primaryColor;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}

.media-btn {
    margin: 0 5px 5px 20px;
    width: 20%;
    height: 32px;
    display: inline-block;
    white-space: nowrap;
    padding: 6px 5px 2px 5px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    @include user-select(none);
    border: 1px solid transparent;
    background-color: $primaryColor;
    color: white;
    //@include transition-duration(250ms);
}

.media-btn:hover{
    background: white;
    color: $primaryColor;
    box-shadow: 0 0 5px 4px $primaryColor;
    text-decoration: none;
    //@include transition-duration(250ms);
}

.media-btn:hover i {
    color: $primaryColor;
}

.btn-container {
    font-size: 0;
    margin: 20px auto;
}

footer {
    background: url('images/shreveport.jpg');
    padding: 20px 5px 30px 5px;
    text-align: left;
    position: relative;
}

footer nav {
    float: left;
    padding: 0;
}

body footer h2 {
    color: white;
    padding: 0;
}

.work-section {
    background: blanchedalmond;
    overflow-x: hidden;
    padding: 100px 0 100px 0;
}

.proj-container {
    margin: 0px auto;
    padding: 0 20px 0 20px;
    max-width: 100%;
    overflow: auto;
}

div.project-unit {
    display: block;
    width: 25%;
    float: left;
    position: relative;
    padding-top: 15%;
    overflow: hidden;
    text-decoration: none;
}

#simon-img {
    background: url('images/simon.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tic-tac-toe-img {
    background: url('images/tic-tac-toe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#clock-img {
    background: url('images/clock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#twitch-img {
    background: url('images/twitch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wikipedia-img {
    background: url('images/wikipedia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#calc-img {
    background: url('images/calc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#weather-img {
    background: url('images/weather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#tribute-img {
    background: url('images/tribute.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background: $primaryColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0;
}

.overlay strong {
    display: block;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.2;
    top: 50%;
    left: 0;
    right: 0;
    @include transform(translateY(-50%));
    position: relative;
}

.project-unit:hover .overlay {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.9;
}

.project-unit:hover .overlay strong {
    opacity: 1;
}

.overlay:active, 
.overlay:focus {
    text-decoration: none;
    padding: 0;
}



#work-belt {
    width: 200%;
    position: relative;
    left: 0;
    transition: 150ms;
}

.proj-wrap, 
.embed-wrap {
    width: 50%;
    float: left;
}

.embed-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.embed-container h2 {
    text-align: center;
}

.proj-title {
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 0 0 0 0;
    text-align: left;
    color: $primaryColor;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
}

#back-arrow {
    color: $primaryColor;
    font-size: 30px;
    position: absolute;
    left: -30px;
    transform: translateY(-2px);
}

#back-arrow:hover {
    color: $secondaryColor;
    cursor: pointer;
}

.project {
    display: none;
}

.embed-proj-full {
    margin: 0 auto;
    text-align: left;
    color: black;
}

.embed-proj-langs {
    margin: 5px auto;
    text-align: left;
    font-weight: bold;
    color: $primaryColor;
    font-size: 18px;
}

.contact-section {
    background: white;
    padding: 100px 0;
    height: 400px;
    text-align: center;
}

.contact-form {
    @include appearance(none);
    border-radius: 0;
    width: 50%;
    margin: 0 auto;
}


.contact-form-input {
    @include appearance(none);
    border-radius: 0;
    font-size: 16px;
    display: block;
    float: left;
    margin: 0 0 5px 0;
    width: 49%;
    box-sizing: border-box;
    border: 2px solid $primaryColor;
    padding: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-form-input:first-of-type {
    margin-right: 2%;
}

.contact-form-textarea {
    @include appearance(none);
    border-radius: 0;
    font-size: 16px;
    padding: 4px;
    display: inline-block;
    height: 200px;
    margin: 20px auto 5px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid $primaryColor;
    resize: none;
}

.contact-form-p {
    font-size: 14px;
    color: black;
    float: left;
    text-align: left;
    margin: 0;
    max-width: 60%;
}

.contact-form-input:focus, .contact-form-textarea:focus {
    box-shadow: 0 0 5px 1px $primaryColor;
}

.contact-form-submit {
    @include appearance(none);
    background: $primaryColor;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    line-height: 100%;
    padding: 4px 8px;
}

.contact-form-submit:hover {
    color: $primaryColor;
    cursor: pointer;
    background: white;
    box-shadow: 0 0 5px 4px $primaryColor;
}

@media screen and (max-width: 1025px){
    h1 {
        font-size: 1.4em;
    }
    
    h6 {
        font-size: .8em;
    }
}

@media screen and (max-width: 875px){
    h1 {
        font-size: 1em;
    }
    
    h6 {
        font-size: .4em;
    }
    .contact-form {
        width: 65%;
    }
}
@media screen and (max-width: 800px){
    .media-btn {
        width: 40%;
    }
}

@media screen and (max-width: 750px){
    div.project-unit {
        width: 50%;
        padding-top: 26%;
    }
    
    
    p {
        width: 90%;
    }
    
    #back-arrow {
        left: 0;
        text-align: left;
    }
    
    .embed-container h3 {
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .contact-form {
        width: 75%;
    }
}


@media screen and (max-width: 500px){
    .overlay strong {
        padding: 0px 5px;
    }
    
    .embed-container {
        width: 95%;
    }
    div.project-unit {
        width: 100%;
        padding-top: 50%;
        margin-bottom: 5px;
    }
    .media-btn {
        width: 80%;
    }

    .contact-form {
        width: 80%;
    }
}

